body{
    background-image: url("/cadastro/img/tela_fundo_geral.png");
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 30px;
}

td{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
table{
    border: 1px solid #ffff;
    align-items: center;
    margin: 0 auto;
  
}

tr,td{
    text-align: center;
}
tr:hover {background-color: #f5f5f5}
tr{
    background-color: #ffff;
}

.tabela{
    background-color: #fec49d;
}
img{
    height: 5vh;
    width: 5vh;
}


.voltar{
    margin-left: 180vh;
    margin-top: 6vh;
}
